**/__pycache__
src/emu/stages/c++/rasterizer/rasterizer
src/emu/stages/c++/test_vertices/test_vertices
src/emu/stages/c++/vertex_transform/vertex_transform
src/emu/stages/c++/fragment_ops/fragment_ops
src/emu/stages/c++/fragment_ops/fragment_ops
src/rtl/fragment_ops/ghdl_sim/fragment_ops
src/rtl/test_vertices/ghdl_sim/test_vertices_fifotb
*.o
*.fifo
*.cf
*.toml
*.ghw
.vscode
*.log
*.orig
src/rtl/fragment_ops/ghdl_sim/fragment_ops_tb
src/rtl/vertex_transform/cocotbsim/